body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #fff;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.app-with-nav {
  padding-top: 80px;
}
